.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
}

.carousel img {
    width: 80%;
    height: 600px;
    margin-top: 20px;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
    opacity: 1;
    animation: fade-in 3s ease-in-out;
}

.carousel img.hidden {
    display: none;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.carousel button:focus {
    outline: none;
}

.carousel .prevButton {
    left: 10px;
    background-color: #4747a3;
    border-radius: 10%;
}

.carousel .nextButton {
    right: 10px;
    background-color: #4747a3;
    border-radius: 10%;

}

.carousel .prevButton svg,
.carousel .nextButton svg {
    width: 24px;
    height: 24px;
    color: white;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .carousel img {
        width: 100%;
        height: 300px;
    }
}
@media (max-width: 576px) {
    .carousel img {
        width: 60%;
        height: 200px;
    }
}