.group {
    background-color: #9c2941;
    border-radius: 10px;
    height: 60px;
    position: relative;
    width: 734px;
}

.group .text-wrapper {
    color: #ffffff;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 275px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
    white-space: nowrap;
}
